.App {
  padding: 2rem;
}


article {
  display: flex;
  width: 100%;
  align-items: center;
}

#USA {
  width: 65%;
  text-align: center;
}

#city {
  width: 35%;
  text-align: center;

}

/* MAP */

svg g {
  z-index: 1;
}

svg .state:hover, svg #marker:hover {
  cursor: pointer;
}

svg #marker {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-shadow: 0 1px 0 black;
  font-size: 1rem;
  position: fixed;
  z-index: -1;
}


/* CARD */
#city {
  color: #1B1725;
  border-radius: 10%;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25);
  height: 75vh;
  padding: 2rem;
}

#city img.icon {
  height: 7rem;;
  width: auto;
}

#city .name{
  font-weight: bolder;
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
  font-size: 2.5rem;  
  margin: 0;
}

#city .temp{
  font-size: 4rem;
  margin: 0;
  font-family: Droid Serif;
}

#city p{
  margin:0;
  font-weight: bold;
}

#city .graphs{
  display: flex;
  width: 100%;
}

#windDirection{
  width: 25%;
  margin: auto;
}

text.direction {
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
  font-weight: bold;
  font-size: large;
}

#temperature{
  width: 75%;
  text-align: center;
}

g.tick text{
  font-weight: bold;
  font-size: 0.65rem;
} 


/* Line Graph */

#forecast {
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  article {
    flex-direction: column;
  }
  
}